<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../style/common.css">
</head>
<body>
	<div class="page">
  		<header>
  			<nav>
  				<ul class="nav">
  					<li class="social soc" id=""><img src="../images/vk.png" alt=""></li>
  					<li class="social soc" id=""><img src="../images/github.png" alt=""></li>
  					<li class="social soc" id=""><img src="../images/in.png" alt=""></li>
  				</ul>
  				<span class="menu"><img src="../images/hamburger.png" alt=""></span>
  			</nav>
			<div class="header">
				<div class="avatar">
					<h2>Владимир Астахов</h2>
				</div>
			</div>
  		</header>
  		<main></main>
	</div>
	
	<footer>footer</footer>
</body>
</html>