   @font-face {
    font-family: FontAwesome; /* Имя шрифта */
    src: url(../fonts/FontAwesome.otf); /* Путь к файлу со шрифтом */
    src: url(../fonts/fontawesome-webfont.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/Roboto-Bold.ttf); /* Путь к файлу со шрифтом */
    src: url(../fonts/Roboto-BoldItalic.ttf); /* Путь к файлу со шрифтом */
    src: url(../fonts/Roboto-Italic.ttf);
    src: url(../fonts/Roboto-Light.ttf);
    src: url(../fonts/Roboto-LightItalic.ttf);
    src: url(../fonts/Roboto-Medium.ttf);
    src: url(../fonts/Roboto-MediumItalic.ttf);
    src: url(../fonts/Roboto-Regular.ttf);
        
   }
   @font-face {
    font-family: Sansus-Webissimo-Regular; /* Имя шрифта */
    src: url(../fonts/Sansus-Webissimo-Regular.ttf); /* Путь к файлу со шрифтом */
   }
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
 h1{
  font-weight: 500;
  font-size: 62.792px;
  font-family: "Sansus Webissimo",Sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.889;
  text-align: center;
}
html{
	box-sizing: border-box;
}
*,*:before,*:after{
	box-sizing: inherit;
}
html,
body {
  height: 100%;
  margin: 0;
}
header{
	box-sizing: border-box;
	width: 100%;
	height: 785px;
	background-color: #193363;
	display: flex;
	position: relative;
	overflow: hidden;
}
nav{
	position: absolute;
	width: 100%;
	height: 42px;
	background: transparent;
	line-height: 42px;
	text-align: right;
	padding-top: 27px; 
}
ul.nav {
	padding-left: 7px;
	margin: 0;
	float: left;
}
.nav li{
	display: inline-block;
	margin-left: 20px;
}
span.menu{
	margin-right: 29px;
}
.header{
	margin:auto;
	width: 100%;
	min-width: 600px;
	height: 100%;
	background: url(../images/photo-header.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 1px;	
}
/*Добавляет стилизацию для звезда*/
.content-star{
	width: 380px;
	height: 262px;
	margin: 0 auto;
	text-align: center;
	background: transparent url(../images/stars3.png) no-repeat 50% 1%;	
	padding-top: 5px;	
}
/*****************************avatar block***********************/
.avatar{
	width: 500px;
	height: 300px;
	margin:0 auto;
	text-align: center;
	background: url(../images/stars.png) no-repeat;
	margin-top: 100px;
	padding-top: 40px;
}
.photo-avatar{
	width: 141px;
	height: 141px;
	border-radius: 50%;
}
.avatar h2{
  font-size: 35px;
  font-family: 'Roboto', Sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 0;
}
.avatar p{
  font-size: 16px;
  font-family: 'Roboto', Sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: .5;
}
/**********************************/
.page {
  min-height: 100%;
  margin-bottom: -145px; // Равно высоте футера
  background: black;
}

.page:after {
  content: '';
  display: block;
  height: 145px; // Равно высоте футера
}

.box {
  width: 100%;
  height: 150px;
  margin: 50px auto;
  position: absolute;
  bottom: 125px; 
  right: 0; 

}
.traingle {
  fill: #000;
  opacity: .5;
}
.box-wrapper{
  background: transparent url(../images/stars2.png) no-repeat 50% 50%;	
  width: 100%;
  height: 170px;
  margin: 0 auto;
  position: absolute;
  bottom: 1px; 
  right: 0;   
}

/*******************main**********************/
main{
	width: 100%;
	height: 750px;
}
.main-left, .main-right{
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}
.main-left{
	background-color: #f2f0e8;
	position: relative;
	text-align: center;
	padding-top: 200px;
}
.main-right{
	background-color: #e3e2de;
}
.loftschool{
	width: 330px;
	height: 260px;
	margin: 40px auto;
}
.loftschool h3{
  font-size: 35px;
  font-family: "Sansus Webissimo", Sans-serif;
  color: rgb(71, 75, 87);
  text-transform: uppercase;
  line-height: 1.171;
  text-align: center;
  -moz-transform: matrix( 1.00124326564443,0,0,0.99730494117211,0,0);
  -webkit-transform: matrix( 1.00124326564443,0,0,0.99730494117211,0,0);
  -ms-transform: matrix( 1.00124326564443,0,0,0.99730494117211,0,0);
}

.line-segment {
  background-color: rgb(71, 75, 87);
  opacity: 0.502;
  margin: 0 auto;
  width: 89px;
  height: 3px;
  z-index: 88;
}

.loftschool h4{
  font-size: 15.791px;
  font-family: "Roboto", Sans-serif;
  color: rgb(8, 60, 150);
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}
.loftschool a{
  font-size: 16px;
  font-family: "Roboto", Sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
}
.loftschool i{
  padding: 10px;
}
.loftschool button {
  background-color: rgb(0, 76, 209);
  border: none;
  margin-top: 35px;
  padding: 0;
}

/**********************************************/
.SayAboutMe{
	width: 100%;
	height: 1170px;
	background: url(../images/about.png);
	background-size: cover;	
	position: relative;
}
.content{
	width: 820px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
}

.form-wrapper form{
	background-color: rgba(245,246,247,0.05);
	padding-top: 10px;
}
.form-wrapper input, .form-wrapper textarea{
	background-color: rgba(245,246,247,0.1);
	border: none;
    font: 500 16px "Roboto", Sans-serif;	
    color: rgba(245,246,247, 1);		
}
.form-wrapper input{
	width: 340px;
	height: 45px;
	margin: 10px;
	padding-left: 10px;
}
.form-wrapper input::placeholder, .form-wrapper textarea::placeholder{
   font-family: "Roboto", Sans-serif;
   font-weight: 400;
}
.form-wrapper textarea{
	margin: 10px auto;
	padding: 10px;
}
button.main{
	width: 190px;
	height: 45px;
	background-color: rgba(245,246,247,0.1);
	border:none;
    font: 500 16px "Roboto", Sans-serif;	
    color: rgba(245,246,247,0.6);
}
button.main:hover{
	background-color: #004cd1;
    color: rgba(245,246,247,0.9);		
}

.form-wrapper{
	width: 380px;
	height: 370px;
	margin: 0 auto;
}
.form-wrapper h3{
  font-size: 35px;
  font-family: "Sansus Webissimo", Sans-serif;
  color: rgb(245,246,247);
  text-transform: uppercase;
  line-height: 1.171;
  text-align: center;
  -moz-transform: matrix( 1.00124326564443,0,0,0.99730494117211,0,0);
  -webkit-transform: matrix( 1.00124326564443,0,0,0.99730494117211,0,0);
  -ms-transform: matrix( 1.00124326564443,0,0,0.99730494117211,0,0);
}

.form-wrapper .line-segment {
  background-color: rgb(136, 137, 132);
  margin-bottom: 20px;
}
.mayak{
	position: absolute;
	bottom: -145px;
	right: 150px;
}
/**************footer***********************/
footer{
  background-color: rgba(28,40,40,1);		
  height: 145px; // фиксированая высота футера 
  position: relative;
}
.footer{
  background-color: rgba(28,40,40,.6);	
  position: absolute;
  z-index: 33;	
  width: 100%;
}
.footer-block{
	width: 33.2%;
	height: 150px;
	float: left;
	padding: 30px;
}
.footer-block>p, addres>p{
  margin-top: 0;
}
.footer-block p{
	font: 300 16px "Roboto", Sans-serif;
	color: #fff;
	line-height: .5;
	opacity: .7;
}
.list-nav{
	font: 700 16px "Roboto", Sans-serif;
	margin-right: 20px;
}
.list-nav.list-nav.list-nav a{
	color: #fff;
	text-decoration: none;
	opacity: 1;
}
.footer-block .soc{
	margin: 20px;
	opacity: .7;
}
.line-footer{
  background-color: #64656c;
  width: 1px;
  height: 87px;
  float: left;
  margin-top: 29px;
}